<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="" />
    <title>Tip Tracker</title>
    <link rel="stylesheet" href="">
    <script src="" crossorigin="anonymous"></script>
    <link rel="" href="">
    <link rel=" href=" crossorigin>
    <link href="" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css" />
</head>

<script src=""></script>
<script src=""></script>
<script src=""></script>
<script src=""></script>
