  <div class="col-3 border rounded border-black mt-5">
  <div class="row post-border bg-dark-red">
    <h2 class="col-6 text-start text-gray">New Tip</h2>
  </div>
  <div>
    <form id="newTipForm" class="row">
      <div class="form-group">
        <label
          for="hoursWorked"
          class="fs-4"
        >Hours Worked</label>
        <input type="number" class="form-control" id="hoursWorked" />
      </div>
      <div class="form-group">
        <label
          for="totalTips"
          class="fs-4"
        >Total Tips</label>
        <input type="number" class="form-control" id="totalTips" />
      </div class="form-group">
      <button id="entBtn" type="submit" class="btn btn-primary">Enter</button>
    </form>
  </div>
</div>

<script src="/js/addTip.js"></script>