
<body>
   

<div class="row d-flex justify-content-center pt-5 mt-5">
    <a class="border text-decoration-none fs-1 d-flex justify-content-center col-2 bg-black text-danger" href="/login">login</a>
    <a class="border text-decoration-none fs-1 d-flex justify-content-center col-2 bg-black text-danger" href="/signup">sign-up</a>
    
</div>


    
</body>

<script src=""></script>

