
<body>

    <section class="hero is flex">
        <div class="hero-body has-text-centered has has-background-info headhero">
            <h1 class="title">
                Tip Tracker
            </h1>
            <p class="subtitle">
               Employee Tip Tracker 
            </p>
        </div>
    </section>

    <div class="columns is-justify-content-space-evenly has-text-centered columnSection" id="columns">
        <div class="column is-2 is-multiline is-one-third">
            <button id="tip-btn"
                class="button has-padding-horizontal-2 is-rounded is-size-4 longbutton">Tip</button>
            <button id="tax-btn" class="button is-rounded is-size-4 longbutton">Tax</button>
        </div>
        <div class="column is-2 is-multiline is-one-third">
            <button id="new-hire-btn" class="button is-rounded is-size-4 longbutton">New-Hire</button>
            <button id="promotion-btn" class="button is-rounded is-size-4 longbutton">Promotion</button>
        </div>
        <div class="column is-2 is-multiline is-one-third">
            <button id="-btn" class="button is-rounded is-size-4 longbutton"></button>
            <button id="-btn" class="button is-rounded is-size-4 longbutton"></button>
        </div>
    </div>

    <div class="column mt-4 is-8 is-offset-2 field has-addons">
        <input id="Employee Search" class="input searchbar has-text-centered" type="text"
            placeholder="Search Employee">
        <div class="control has-icons-center">
            <button id="search-btn" class="button is-rounded"><i class="fa-solid fa-magnifying-glass fa-lg"
                    style="color: #000000;"></i></button>
        </div>
    </div>

    <div id="search-result"></div>

    <
</body>
<script src=""></script>
<script src=""></script>
<script src=""></script>
<script src=""></script>

