<div class="container text-center job-drops">
<div class="row justify-content-center row align-items-start">
  <div class="col-4">
    {{#if jobs.length}}
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Current Jobs
      </button>
      <ul class="dropdown-menu">
        {{#each jobs as |job|}}
        <li>
          <div class="div-inline">
            <a class="dropdown-item" href="/job/{{job.id}}">{{job.name}}</a>
            <button class="btn btn-sm btn-danger delete-btn" data-id="{{job.id}}">DELETE</button>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </div>
  <div class="col-4">
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
        data-bs-auto-close="outside">
        Add a Job
      </button>
      <form class="dropdown-menu p-4" id="new-job-form">
        <div class="form-floating">
          <input type="text" class="form-control" id="job-name">
          <label for="floatingInput">Job Name:</label>
        </div>
        <div class="form-floating">
          <input type="number" class="form-control" id="job-wage">
          <label for="floatingInput">Hourly Wage:</label>
        </div>
        <button class="btn btn-primary w-100 py-2" id="signup-btn" type="submit">Add</button>
      </form>
    </div>
  </div>
</div>


<script src="/js/profile.js"></script>