{{#each tips as |tip|}}
<div class="text-center">
  <p>{{{job.name}}}</p>
  
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{calc_total hours  job.hourly_wage  tips}}</span>
    earned today
  </p>
  <p>
    <button class="btn btn-primary">Tips</button>
  </p>
</div>
{{/each}}

<p>{{total}}</p>
